
@{
    ViewData["Title"] = "About";
}

@section styles{
    <link href="~/css/landing-page.css" rel="stylesheet">
}

    <div class="container acadabody">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h3> Who are we?</h3>
                <p>
                    We are a passionate set of people who are excited when it comes to helping humanity and giving people hope where otherwise there was no way out.
                </p>
                <p>
                    In most under-developed countries, many find it difficult to fund their educational and small entrepreneurial dreams without any form of assistance from anyone. Even their governments are doing very little or practically nothing to ease their pain. This is even worse with post graduate studies where you'll have to cough out in some cases millions of Naira to power that dream.
                </p>
                <p>
                    Acada 1000 is set to change all that in the shortest time possible. Young minds will get the opportunity to explore all the possibilities without the fear of funds.
                </p>
                <p>
                    Starting from lunchbox money to as much as N10m, Acada 1000 will be paying out recyclers to its qualified members every week giving them sweet reasons to go further and further 
                    and thereby fulfilling their dreams.
                </p>
                <p>
                    A 100% owned-Nigerian Network Marketing Company based in Lagos city centre, Acada 1000 develops innovative solutions that is leading the market in terms of Technology,
                    Service and Reward choice.
                </p>
                <p>
                    Our aim is to grow to all African countries and beyond, improving the chances for getting better education and changing lives as we go.
                </p>
            </div>
        </div>
    </div>
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Ready to get started? Sign up now!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
