
@{
    ViewData["Title"] = "Products";
}
@section styles{
    <link href="~/css/landing-page.css" rel="stylesheet">
}

<section class="showcase" style="margin-bottom: 50px">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url('/img/bg-showcase-1.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Dreams are universal, opportunity is not.</h2>
                <p class="lead mb-0">
                    <span class="txt2">
                        It is not everyday that one come across <br>
                        opportunities such as <span class="bold">Acada 1000 </span>offers. <br>
                        <br>
                       
                    </span>

                </p>
            </div>
        </div>
    </div>
</section>

<div class="container acadabody">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>At <span class="bold">Acada 1000</span>, has created a platform that uses crowdfunding to open new doors of </p>
            <p> opportunities for young minds and even create avenues for entrepreneurs as well. After all, dreams are dreams and there's no difference in age and experience.</p>
            <p>When our bonuses enables someone pay tuition or grow a business and create opportunity for themselves, it creates opportunities for others as well. That ripple effect can shape the future for a family or an entire community.</p>

            <blockquote class="blockquote">
                Start your journey with just N1,000
            </blockquote>
          

        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Our Products</h1>

            <div class="card-columns">
                <div class="card bg-info text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                        <p>Pre Scholar Board</p>
                        <footer class="blockquote-footer">
                            <small>
                                3 X 1 <cite title="Source Title">Matrix</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card bg-primary text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                        <p>Pre-Grad Board</p>
                        <footer class="blockquote-footer">
                            <small>
                                3 X 3 <cite title="Source Title">Matrix</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card bg-light text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                        <p style="color:black">Scholar Board</p>
                        <footer class="blockquote-footer">
                            <small>
                                3 X 3 <cite title="Source Title">Matrix</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card bg-dark text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                        <p> Grad Board</p>
                        <footer class="blockquote-footer">
                            <small>
                                3 X 3 <cite title="Source Title">Matrix</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card bg-info text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                        <p> High Scholar Board</p>
                        <footer class="blockquote-footer">
                            <small>
                                3 X 3 <cite title="Source Title">Matrix</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>




            </div>
        </div>
    </div>
</div>
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Ready to get started? Sign up now!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>