
@{
    ViewData["Title"] = "Rewards";
}
@section styles{
    <link href="~/css/landing-page.css" rel="stylesheet">
}
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('/img/bg-showcase-2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Our Reward Plans</h2>
                <p class="lead mb-0">
                    <span class="txt2">
                        Many times we refer our friends to exciting<br>
                        movies we watched, good restaurants we dined<br>
                        in, hairstylists, fashion designers even our bank<br>
                        account officers get referrals from us. All <br>
                        because we love to share. <br>
                        <br>
                        In <span class="bold">Acada 1000</span>, we don't only recognize <br>
                        and celebrate those who share, we <br>
                        reward it! Yes, we reward it in more than <br>
                        many ways. <br>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Get Instant Rewards
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                Everytime you sign up a new referral, you get a cash reward.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Matching Bonus
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                For every third person introduced by you as the direct sponsor, Acada 1000 pays you N1,000 as pre-board bonus. After leaving the pre-board stage, company pays you 33.3% of the registration fees from the person you sponsored. This is a reward being introduced to our distributors  to encourage more active direct sponsorship.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse"
                        data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                    Board Referral Bonus
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                You still get rewarded with 10% evertime a direct referral qualifies for a new or higher board. This bonus comes even when they are going through a re-introduction to any of the boards.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" 
                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Leadership Reward Bonus
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                This Reward is strictly for Leaders. It's a profit share for leaders who are able to maintain a minimum monthly volume growth in their teams. This is patterned after the Cycle Payment, is residual in nature, meaning you get it over and over for as many as 10 times without
                any entry fees and that's sufficient reason to become a leader.
            </div>
        </div>
    </div>
    @**@
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Leadership Reward Bonus
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                This Reward is strictly for Leaders. It's a profit share for leaders who are able to maintain a minimum monthly volume growth in their teams. This is patterned after the Cycle Payment, is residual in nature, meaning you get it over and over for as many as 10 times without
                any entry fees and that's sufficient reason to become a leader.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse"
                        data-target="#collapseSix" aria-expanded="false"
                        aria-controls="collapseSix">
                    Super Affiliate Bonus
                </button>
            </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                Company rewards 10 Super Affiliates who reach a pre-determined goal every month with sweet incentives. A global purse is generated and 10 members who reach
                and surpassed this goal stand to share the entire Jackpot.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse"
                        data-target="#collapseSeven" aria-expanded="false"
                        aria-controls="collapseSeven">
                    Gadget Bonus
                </button>
            </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                This bonus is paid to members at our Mega Events that is derserving of the awards. It is given in form of a gift item that ranges from school stationeries to computers and household electronic and gadgets.
                Criteria for choosing beneficiaries is purely based on charitable deeds.
            </div>
        </div>
    </div>
</div>